<!doctype html>
<div class="w3-container" id="about">
  <h1 class="w3-center">ABOUT CS CLUB</h1>
  <p class="w3-center w3-large"><b>What do we do</b></p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter"> <i class="material-icons w3-margin-bottom w3-jumbo w3-center">computer</i>
      <p class="w3-large"><b>Connections</b></p>
      <p>CS Club is a great way for lower classmen to meet upper classmen and connect with other students with a passion for Computer Science!</p>
    </div>
    <div class="w3-quarter"> <i class="fas fa-map-marker-alt w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large"><b>Events</b></p>
      <p>Through the club students will travel to different Technology events to social network and hone in and learn new skills.</p>
    </div>
    <div class="w3-quarter"> <i class="fas fa-chalkboard-teacher w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large"><b>Teaching</b></p>
      <p>Meeting with the club is also a great place to go if you need help with CS related projects or other technology inquiries.</p>
    </div>
    <div class="w3-quarter"> <i class="fas fa-cog w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large"><b>Robots</b></p>
      <p>Another fun part of CS club is getting to experiment with new technology, like robots! .</p>
    </div>
  </div>
</div>
<div class="cs-half"> <img src="_img/line.svg" alt="dotted line"> </div>

<!-- Promo Section - "Women in CS and who they are with a link to WSU WiCS website" -->
<div class="w3-container w3-light-grey" style="padding:128px 16px">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>Interested in the Women In Computer Science Club?</h3>
      <p>We are Women in Computer Science, a student organization at Winona State University open to all students.<br><br>
        We work to promote and support the growing community of women in CS and technology by encouraging discussion
        and raising awareness of the issues they face. WICS serves as a group to bring together women who share common
        interests, concerns, and ambitions, within and outside of the computer science field.</p>
      <p><a href="https://cs.winona.edu/cs-website/news/article.php?articlename=Women%20in%20Computer%20Science%20Club%20" class="w3-button w3-black" target="_blank"><i class="fas fa-th"> </i> WiCS Website</a></p>
    </div>
    <div class="w3-col m6"> <img class="w3-image w3-round-large" src="_img/WomeninCSclub.jpg" alt="Buildings" width="700" height="394"> </div>
  </div>
</div>
<div class="cs-half"> <img src="_img/line.svg" alt="dotted line"> </div>