<!doctype html>
 <!-- Benefits Section -->
  <div class="w3-container"  id="work">
    <h1 class="w3-center">Benefits of being a member</h1>
    <p class="w3-center w3-large">Personal, Academic, and Career Opportunities</p>
    <div class="w3-row-padding">
      <div class="w3-col l4 m6 w3-card-4"> <img src="_img/Code.jpg" style="width:100%" onclick="onClick(this)" class="coding" alt="Laptop Code">
        <p> Learn programming principles from other members</p>
      </div>
      <div class="w3-col l4 m6 w3-card-4"> <img src="_img/Community.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Community Thinking">
        <p>Join a community of creative & logical thinkers</p>
      </div>
      <div class="w3-col l4 m6 w3-card-4"> <img src="_img/Friends.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Friends">
        <p> Meet new people & develop new friendships</p>
      </div>
    </div>
    <div class="w3-row-padding w3-section">
      <div class="w3-col l4 m6 w3-card-4"> <img src="_img/Technology.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="VR Technology">
        <p> Explore new techology</p>
      </div>
      <div class="w3-col l4 m6 w3-card-4"> <img src="_img/Networking.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Social Networking">
        <p>Create new networking opportunities</p>
      </div>
      <div class="w3-col l4 m6 w3-card-4"> <img src="_img/Events.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Events">
        <p> Participate & help set up club events</p>
      </div>
    </div>
  </div>
  <div class="cs-half" style="margin-top:64px; margin-bottom:64px;"> <img src="_img/line.svg" alt="dotted line"> </div>
  
  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'"> <span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright" title="Close Modal Image">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64"> <img id="img01" class="w3-image" alt="NO IMAGE">
      <p id="caption" class="w3-opacity w3-large"></p>
    </div>
  </div>
  