<!doctype html>
<div class="w3-container w3-light-grey" style="padding:128px 16px" id="contact">
  <h3 class="w3-center">CONTACT</h3>
  <p class="w3-center w3-large">Lets get in touch. Send us a message:</p>
  <div style="margin-top:48px" class="w3-center">
    <form action="csClubContact.php" method="POST">
      Name:
      <input type="text" name="name" style="width:12em;">
      <br>
      <br>
      Email:
      <input type="text" name="email" style="width:12em;">
      <br>
      <br>
      Message:
      <input type="text" name="message" style="width:12em;">
      <br>
      <br>
      <input type="submit" formtarget="_blank">
    </form>
    <!-- Image of location/map --> 
    <img src="/w3images/map.jpg" class="w3-image w3-greyscale" style="width:100%;margin-top:48px" alt="NO IMAGE"> </div>
</div>
