<div class="cs-purple footer">
  <div class="w3-third cs-purple cs-third">
    <p>ADDRESS: Watkins 209,<br>
      225 W Mark St. Winona, MN 55987</p>
    <p>PHONE:<br>
      507.457.5385</p>
    <p>EMAIL:<br>
      <a href="mailto:csclub@winona.edu">csclub@winona.edu</a></p>
    <p>MEETING TIME:<br>
      Every Tuesday at 6pm</p>
  </div>
  <div class="w3-third cs-purple cs-third"> WINONA STATE UNIVERSITY<br>
    COMPUTER SCIENCE CLUB <br>
    MISSION/PURPOSE
    <p class="club-mission"> <br>
      The purpose of our club is to help you excel beyond the classroom. 
      The club will help you: Network, learn from each other, be a part of a team, and create software together. 
      Improve your computer and soft/people skills. </p>
  </div>
  <div class="w3-third cs-purple cs-third"> <img src="_img/clubLogo.jpeg" alt="CS Club Logo">
    <h3>CS Club</h3>
    <p>@WinonaStateUniversity</p>
  </div>
</div>
