* {
  box-sizing: border-box;
}
header, nav, main, footer {
  display: block;
}

h1 {
  line-height: 150%;
  margin-bottom: 0;
  font-size: 2em;
  padding: .2em;
}

h2 {
  color: floralwhite;
}

p {
  color: floralwhite;
}

h3, p {
  padding-left: 3em;
  align-content: left;
  text-align: left;
}

img {
	margin-left: 1em;
	margin-right: 1em;
}

.cs-title {
	 text-align: center;
	padding-left: 3em;
}
